shiny==1.6.0
shinywidgets==0.7.1
anywidget==0.9.21
pandas==2.3.3
numpy==2.4.2
matplotlib==3.10.8
seaborn==0.13.2
plotly==6.6.0
altair==6.0.0
vega_datasets==0.9.0
scienceplots==2.2.0
scikit-learn==1.8.0
nbformat==5.10.4
pycountry==24.6.1
chatlas==0.15.2
python-dotenv==1.2.2
querychat==0.5.1
ibis-framework[duckdb]>=9.0.0
pyarrow>=14.0.0
